on: push

jobs:
  test:
    runs-on: windows-latest
    steps:
      - name: install uv
        shell: bash
        run: |
          powershell -ExecutionPolicy ByPass -c "irm https://astral.sh/uv/install.ps1 | iex"

      - name: install qt with aqt
        shell: bash
        run: |
          QT_BASE_DIR="$(realpath "${GITHUB_WORKSPACE}/..")"
          uvx --from aqtinstall@3.3.0 aqt install-qt -O "${QT_BASE_DIR}/Qt" windows desktop 6.8.2 win64_msvc2022_64 -m qt5compat qtwebsockets qtwebview qtwebchannel qtpositioning qtwebengine
